.app-root {	
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #B2C7D9;
}

body{
	box-sizing: border-box;
}
.loading {
	position: relative;
	width: 115px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	top: 40%;
	transform: translateY(-50%);
}
.loading span {
	display: block;
	position: absolute;
	bottom: 0;
	width: 4px;
	height: 10px;
	left: 33px;
	background: #FF5722;
	animation: loading 1.5s infinite ease-in-out
}
span:nth-of-type(2) {
	left: 44px;
	animation-delay: .2s;
}

span:nth-of-type(3) {
	left: 55px;
	animation-delay: .4s;
}

span:nth-of-type(4) {
	left: 66px;
	animation-delay: .6s;
}

span:last-of-type {
	left: 77px;
	animation-delay: .8s;
}

@keyframes loading {
	0%, 25%, 100% {
		background: #FF5722;
		height: 10px;
		transform: translateY(0);
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
	}

	50% {
		background: #FF9800;
		height: 30px;
		transform: translateY(15px);		
		box-shadow: 0 20px 3px rgba(0, 0, 0, 0.1)
	}
}
