<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta charset="UTF-8"/>
	<title i18n-content="APP_NAME"></title>	
	<link href="stylesheets/index.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<div class="app-root">
		<div class="loading">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>		
	</div>

	<script src="https://unpkg.com/i18next/i18next.js"></script>
	<script src="https://unpkg.com/rivescript@latest/dist/rivescript.min.js"></script>
    <script type="module" src="javascripts/i18n-contents.js"></script>
    <script type="module" src="javascripts/main-bundle.js"></script>
</body>
</html>